body, html   {
    background-color: #0b0023;
    padding: 0;
    margin: 0;
    min-width: 310px;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#page-wrapper {
    position: relative;
    z-index: 2;
    background-color: #140043;
    width: 50%;
    margin: 0 auto;
    padding: 25px;
    min-height: 3000px;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}

.back {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

/* .up-back {
    display: flex;
    justify-content: center;
} */

.lable {
    font-family: 'Manjari', sans-serif;
    margin-left: 2%;
    text-align: center;
    height: 50px;
    color: rgb(113, 78, 255);
    position: relative;
    z-index: 2;
}

.text_block {
    background-color: rgba(12, 0, 23, 0.8);
    border-radius: 35px;
    width: 700px;
    height: auto;
    position: relative;
    z-index: 2;
}

.up-text {
    height: 70px;
    width: auto;
    display: flex;
    padding: 20px;
}

.down-text {
    height: 60px;
    width: auto;
    display: flex;
    padding: 20px;
}

.calendar {
    background-color: rgba(12, 0, 23, 0.8);
    width: 300px;
    height: 350px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 30px;
    z-index: 2; 
    position: relative;
}

.calendar.mn {
    margin-left: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.sidebar {
    background-color: rgba(12, 0, 23, 0.8);
    width: 270px;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 30px;
    z-index: 2;
    position: relative;
}

.date {
    width: 80px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    color: rgb(134, 98, 255);
}

.text {
    font-family: 'Overpass', sans-serif;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: -10px;
    margin-bottom: -10px;
    line-height: 22px;
    color: rgb(174, 149, 255);
}

.menu-text {
    font-family: 'Manjari', sans-serif;
    color: rgb(122, 65, 255);
    width: 60px;
    font-size: 28px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.button1 {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 4em;
    height: 4em;
    border-radius: 20px;
    outline: none;
    margin-bottom: -65px;
    background: rgb(23, 0, 43);
    box-shadow: 0 1px rgba(13, 0, 22, 0.1) inset, 0 1px rgb(17, 0, 30);
    transform: rotate(90deg);
}

.button1:after,
.button1:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 7.5%;
    left: -15%;
    right: 0;
    bottom: 0;
    width: 30%;
    height: 10%;
    margin: auto;
    background: rgb(0, 0, 143);
    box-shadow: 0 1px rgba(30, 0, 64, 0.1) inset, 0 1px rgb(32, 0, 112);
    transform: rotate(45deg);
}

.button1:before {
    left: 15%;
    transform: rotate(315deg);
}

.button1:hover,
.button1:focus {
    background: #0d0043;
    box-shadow: none;
}

.button1:hover:after,
.button1:hover:before {
    background: rgb(111, 150, 255);
    box-shadow: none;
}

.button2 {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 4em;
    height: 4em;
    border-radius: 20px;
    outline: none;
    background: rgb(23, 0, 43);
    box-shadow: 0 1px rgba(13, 0, 22, 0.1) inset, 0 1px rgb(17, 0, 30);
    transform: rotate(-90deg);
}

.button2:after,
.button2:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 7.5%;
    left: -15%;
    right: 0;
    bottom: 0;
    width: 30%;
    height: 10%;
    margin: auto;
    background: rgb(0, 0, 143);
    box-shadow: 0 1px rgba(30, 0, 64, 0.1) inset, 0 1px rgb(32, 0, 112);
    transform: rotate(45deg);
}

.button2:before {
    left: 15%;
    transform: rotate(315deg);
}

.button2:hover,
.button2:focus {
    background: #0d0043;
    box-shadow: none;
}

.button2:hover:after,
.button2:hover:before {
    background: rgb(111, 150, 255);
    box-shadow: none;
}

.sidenav a,
.dropdown-btn {
    padding: 6px 8px 6px 10px;
    text-decoration: none;
    font-size: 20px;
    color: #3900ab;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.sidenav {
    border-radius: 20px;
    background-color: #110034;
    margin: 5px;
}

.sidenav.mn {
    width: 300px;
}

.sidenav a:hover,
.dropdown-btn:hover {
    color: #7f5cfed9;
}

.active {
    background-color: #1b004a;
    color: rgb(66, 0, 188);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.arrow-down {
    float: right;
    padding-right: 10px;
    padding-top: 8px;
    font-size: 15px;
}

.dropdown-container {
    font-family: 'Overpass', sans-serif;
    display: none;
    background-color: #1b004a;
    padding-left: 8px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.dropdown-btn {
    font-family: 'Overpass', sans-serif;
    display: flex;
    font-size: 30px;
    padding-left: 20px;
}

.dropdown-btn.sn {
    margin-right: 1000px;
}

@media (min-width:1200px) {
    .menu {
        display: none;
    }
}

@media (max-width:1200px) {
    .sidebar,
    .calendar {
        display: none;
    }
    .text_block {
        width: fit-content;
    }
    .lable {
        margin-left: auto;
    }
    .text {
        margin-left: 20px;
        margin-right: 20px;
    }
        .kamus_navigatsiya {
            --uirButtonBackgroundColor: var(--rButtonBackgroundColor, transparent);
            --uirButtonPadding: var(--rButtonPadding, var(--rButtonPaddingTop, 0) var(--rButtonPaddingRight, 0) var(--rButtonPaddingBottom, 0) var(--rButtonPaddingLeft, 0));
            --uirButtonBorderWidth: var(--rButtonBorderWidth, 0);
            --uirButtonBorderStyle: var(--rButtonBorderStyle, solid);
            --uirButtonBorderColor: var(--rButtonBorderColor, currentColor);
            --uirButtonFontFamily: var(--rButtonFontFamily, inherit);
            --uirButtonFontSize: var(--rButtonFontSize, inherit);
            --uirButtonColor: var(--rButtonColor);
    
            background-color: var(--uirButtonBackgroundColor);
            padding: var(--uirButtonPadding);
    
            border-width: var(--uirButtonBorderWidth);
            border-style: var(--uirButtonBorderStyle);
            border-color: var(--uirButtonBorderColor);
    
            cursor: pointer;
    
            font-family: var(--uirButtonFontFamily);
            font-size: var(--uirButtonFontSize);
        }
    
        .kamus_navigatsiya::-moz-focus-inner,
        .kamus_navigatsiya[type="button"]::-moz-focus-inner,
        .kamus_navigatsiya[type="reset"]::-moz-focus-inner,
        .kamus_navigatsiya[type="submit"]::-moz-focus-inner {
    
            /* Remove the inner border and padding in Firefox. */
    
            border-style: none;
            padding: 0;
        }
    
        /* The component will reset browser's styles of link */
    
        .linkamus {
            --uirLinkDisplay: var(--rLinkDisplay, inline-flex);
            --uirLinkTextColor: var(--rLinkTextColor);
            --uirLinkTextDecoration: var(--rLinkTextDecoration, none);
    
            display: var(--uirLinkDisplay) !important;
            color: var(--uirLinkTextColor) !important;
            text-decoration: var(--uirLinkTextDecoration) !important;
        }
    
        /* The component will reset browser's styles of list */
    
        .suda {
            --uirListPaddingLeft: var(--rListPaddingLeft, 0);
            --uirListMarginTop: var(--rListMarginTop, 0);
            --uirListMarginBottom: var(--rListMarginBottom, 0);
            --uirListListStyle: var(--rListListStyle, none);
    
            padding-left: var(--uirListPaddingLeft) !important;
            margin-top: var(--uirListMarginTop) !important;
            margin-bottom: var(--uirListMarginBottom) !important;
            list-style: var(--uirListListStyle) !important;
        }

        .suda.amekidas {
            width: 310px;
            margin-left: auto;
            margin-right: auto;
        }
    
        /* Basic styles of the hamburger component */
    
        .kamesursu {
            --uiHamburgerDisplay: var(--hamburgerDisplay, inline-flex);
            --uiHamburgerWidth: var(--hamburgerWidth, 28px);
            --uiHamburgerHeight: var(--hamburgerHeight, 20px);
            --uiHamburgerThickness: var(--hamburgerThickness, 4px);
            --uiHamburgerBorderRadius: var(--hamburgerBorderRadius, 5px);
            --uiHamburgerBgColor: var(--hamburgerBgColor, currentColor);
    
            display: var(--uiHamburgerDisplay);
            width: var(--uiHamburgerWidth);
            height: var(--uiHamburgerHeight);
    
            position: relative;
            text-indent: -9999px;
        }
    
        .kamesursu::before,
        .kamesursu::after,
        .kamesursu__label {
            width: 100%;
            height: var(--uiHamburgerThickness);
            border-radius: var(--uiHamburgerBorderRadius);
            background-color: var(--uiHamburgerBgColor);
    
            position: absolute;
            left: 0;
        }
    
        .kamesursu::before,
        .kamesursu::after {
            content: "";
        }
    
        .kamesursu::before {
            top: 0;
        }
    
        .kamesursu::after {
            bottom: 0;
        }
    
        .kamesursu__label {
            /* The calculation of middle hamburger button line position */
    
            top: calc(50% - calc(var(--uiHamburgerThickness) / 2));
        }
    
        /*
    =====
    MENU STYLES
    =====
    */
    
        .menu {
            --uiMenuCircleSize: var(--menuCircleSize, 100px);
            --uiMenuCircleOffset: var(--menuCircleOffset, 10px);
            --uiMenuCircleBgColor: var(--menuCircleBgColor, currentColor);
    
            --hamburgerWidth: var(--menuHamburgerWidth, 28px);
            --hamburgerHeight: var(--menuHamburgerHeight, 20px);
            --hamburgerBgColor: var(--menuHamburgerBgColor, #fff);
    
            box-sizing: border-box;
            width: 100%;
    
            display: flex;
            flex-direction: column;
            align-items: center;
    
            position: fixed;
            bottom: 0;
            left: 0;
            z-index: 9998;
        }
    
        .navigatsiya {
            box-sizing: border-box;
            width: 100%;
            height: 0;
    
            transition: opacity .2s ease-out;
            opacity: 0;
    
            display: flex;
            align-items: flex-end;
            z-index: 2;
        }
    
        .amekidas {
            width: 100%;
            max-height: 100%;
            display: none;
    
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
        }
    
        .usuudesug {
            box-sizing: border-box;
            width: var(--uiMenuCircleSize);
            height: calc(var(--uiMenuCircleSize) / 2);
            padding: var(--uiMenuCircleOffset);
    
            flex: none;
    
            position: relative;
            display: flex;
            align-items: flex-end;
            justify-content: center;
        }
    
        .usuudesug::before {
            content: "";
            width: 1em;
            height: 1em;
            font-size: var(--uiMenuCircleSize);
            /* 1 */
            background-color: var(--uiMenuCircleBgColor);
            border-radius: 50%;
            position: absolute;
            bottom: -.5em;
            /* 2 */
            left: calc(50% - .5em);
            will-change: width, height;
            transition: transform .25s cubic-bezier(0.04, -0.1, 0.29, 0.98),
                width .25s cubic-bezier(0.04, -0.1, 0.29, 0.98),
                height .25s cubic-bezier(0.04, -0.1, 0.29, 0.98);
        }
    
        .menu__hamburger::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    
        .kamesursu::before,
        .kamesursu::after,
        .kamesursu__label {
            transition-timing-function: ease;
            transition-duration: .15s;
        }
    
        .kamesursu::before,
        .kamesursu::after {
            transition-property: transform;
        }
    
        .kamesursu__label {
            transition-property: transform, opacity;
        }
    
        .menu__hamburger:focus {
            outline: none;
        }
    
        .navigatsion_menyu {
            height: 100%;
        }
    
        .navigatsion_menyu .navigatsiya {
            height: 100%;
            opacity: 1;
    
            will-change: opacity;
            transition-duration: .2s;
            transition-delay: .3s;
        }
    
        .navigatsion_menyu .usuudesug::before {
            width: 100vmax;
            height: 100vmax;
            transform: translate3d(-50vh, -50vh, 0) scale(5);
            transition-duration: 1s;
        }
    
        .navigatsion_menyu .amekidas {
            display: block;
        }
    
        .navigatsion_menyu .kamesursu::before {
            top: 50%;
            transform: translate3d(0, -50%, 0) rotate(45deg);
        }
    
        .navigatsion_menyu .kamesursu::after {
            transform: translate3d(0, -50%, 0) rotate(135deg);
            top: 50%;
        }
    
        .navigatsion_menyu .kamesursu__label {
            transform: rotate(-45deg) translate3d(-.285em, -.3em, 0);
            opacity: 0;
        }
    
        :root {
            --colorWhite: #2d0086;
            --colorMain: #110034ef;
            --rLinkTextColor: var(--colorMain);
            --menuCircleSize: 100px;
            --menuCircleBgColor: var(--colorMain);
            --menuHamburgerWidth: 28px;
            --menuHamburgerHeight: 20px;
            --menuHamburgerBgColor: var(--colorWhite);
        }
    
        @media (min-width: 768px) {
    
            html {
                font-size: 62.5%;
            }
        }
    
        @media (max-width: 767px) {
    
            html {
                font-size: 50%;
            }
        }
    
        body {
            display: flex;
            height: 100vh;
            margin: 0;
            font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
            font-size: 1.6rem;
        }
    
        .menyu_portala {
            --rLinkTextColor: var(--colorWhite);
    
            padding: .5rem 3rem;
            font-size: 3.2rem;
            font-weight: 700;
            text-transform: uppercase;
        }
}

.arrow-4 {
    position: relative;
    cursor: pointer;
    margin-left: 55px;
    margin-top: 8px;
    width: 66px;
    height: 30px;
}

.arrow-4.sn {
    margin-left: 120px;
}

.arrow-4.mn {
    margin-left: 88px;
}

.arrow-4.mn.sn {
    margin-left: 152px;
}

.arrow-4-left {
    position: absolute;
    background-color: transparent;
    top: 10px;
    left: 0;
    width: 20px;
    height: 5px;
    display: block;
    transform: rotate(35deg);
    float: right;
    border-radius: 2px;
}

.arrow-4-left:after {
    content: "";
    background-color: #130073;
    width: 20px;
    height: 5px;
    display: block;
    float: right;
    border-radius: 6px 10px 10px 6px;
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
    z-index: -1;
}

.arrow-4-right {
    position: absolute;
    background-color: transparent;
    top: 10px;
    left: 13px;
    width: 20px;
    height: 5px;
    display: block;
    transform: rotate(-35deg);
    float: right;
    border-radius: 2px;
}

.arrow-4-right:after {
    content: "";
    background-color: #130073;
    width: 20px;
    height: 5px;
    display: block;
    float: right;
    border-radius: 10px 6px 6px 10px;
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
    z-index: -1;
}

.open .arrow-4-left:after {
    transform-origin: center center;
    transform: rotate(-70deg);
}

.open .arrow-4-right:after {
    transform-origin: center center;
    transform: rotate(70deg);
}

